img {
    /*border: 1px black solid;*/
    margin: 1px;
    padding: 1px;
}


.rotated180 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

